.navButton{
    color: white;
    /* opacity: 0.5; */
    font-weight: "medium";
    text-decoration: underline;
    text-transform: uppercase;
}

body{
    background-image: url(/home/user/Downloads/react-assignments/swapitask/src/images/Star-Wars-Header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#homePage {
    color: white;
    text-align: center;
}

#toolBar {
    opacity: 0.4;
    background-color: whitesmoke;
}

/* .detailsCard {
    background-image: url(/home/user/Downloads/react-assignments/swapitask/src/images/starWars.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} */